.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    width: 50%;

    h5 {
        padding: 10px;
        border: solid 1px;
        background-color: aqua;
        color: brown;
        margin: 0;
    }

    .acc-text{
        animation: animate-close 0.5s forwards;
        border: solid 1px;
        overflow-y: hidden;
    }

    p {
        margin: 10px;
    }
}

.d-none{
    .acc-text{
        display: none;
    }   
}

.d-block {
    .acc-text{
        display: block !important;
        animation: animate 0.5s forwards ease-in-out;
    }
    p{
        animation: textEnter 0.5s forwards;
    }
}

@keyframes animate {
   from{
    height: 0;
   }
   to{
    height: 100px;
   }
   
}

@keyframes animate-close {
    from{
     height: 100px;
    }
    to{
     height: 0;
    }
 }

 @keyframes textEnter {
    from{
        opacity: 0;
        transform: scaleY(0);
    }to{
        transform: scaleY(100%);
        opacity: 100%;
    }
 }