.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    width: 50%;

    h5 {
        padding: 10px;
        border: solid 1px;
        background-color: aqua;
        color: brown;
        margin: 0;
    }

    .acc-text {
        animation: animate-close 0.5s forwards;
        border-left: solid 1px;
        border-right: solid 1px;
        overflow-y: hidden;
        display: none;
    }
    p {
        margin: 10px;
    }
}

.dis_block{
    display: block !important;
    animation: animate 0.5s forwards ease-in-out !important;
    border: solid 1px;
}

@keyframes animate {
    from {
        height: 0;
        display: none;
    }

    to {
        height: 100px;
        display: block;
    }

}

@keyframes animate-close {
    from {
        height: 100px;
        display: block;
    }

    to {
        height: 0;
        display: none;
    }
}